<div class="form-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="form-wrapper">

          <h1>Sign-up your pet</h1>

          <%= simple_form_for(@pet, method: "post") do |f| %>
            <%= f.input :name %>

            <div class="row">
              <div class="col-xs-4"> <%= f.input :age %> </div>
              <div class="col-xs-4">   <%= f.input :species,
              collection: %w(cat dog elephant fish hamster giraffe monkey snake spider bird) %>
                </div>
              <div class="col-xs-4"> <%= f.input :price, label: "Price/day in DKK", as: :numeric %> </div>
            </div>
            <%= f.input :description, :input_html => { :rows => 5 } %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>

            <div class="form-actions">
              <%= f.button :submit, "Sign-up", class: "btn btn-info" %>
            </div>
          <% end %>

        </div> <!-- end form wrapper -->
      </div> <!-- end column-->
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>


