<div class="card">
  <div class="card-header" style="background-image: url(<%= image_path("monkey.jpg") %>);">
  </div>
  <div class="card-content">
  <p><%= pet.name %></p>
  <p><%=pet.description%></p>
  <div class="card-user-details">
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-large"/>
    <div>
      <p><%=pet.user.name%></p>
      <p><%=pet.user.location%></p>
    </div>
   </div>
 </div>
</div>
